# .github/workflows/main.yml
name: ML App CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Bootstrapping Scripts
        run: |
          python scripts/sqlite_init.py
          python scripts/train_and_save.py

      - name: Build Docker Images
        run: docker-compose build

      - name: Validate Prefect Deployment YAML
        run: |
          pip install prefect
          prefect deployment validate mnist_pipeline-deployment.yaml

      - name: Run Pytest
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest tests/test_api.py